<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sportstelling.freepost.comment.dao.FreeCommentDAO">
	<!-- 댓글 등록 -->
	<insert id="insertComment">
		INSERT INTO `free_comment`
		(
			`freeId`
			, `userId`
			, `userNickName`
			, `content`
			, `createdAt`
			, `updatedAt`
		) VALUES (
			#{freeId }
			, #{userId }
			, #{userNickName }
			, #{content }
			, now()
			, now()
		)
	</insert>
	<!-- 댓글 보이기 -->
	<select id="selectCommentListByFreeId" resultType="com.sportstelling.freepost.comment.model.FreeComment">
		SELECT
			`id`
			, `freeId`
			, `userId`
			, `userNickName`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`free_comment`
		WHERE
			`freeId` = #{freeId }
		ORDER BY `id` DESC
	</select>
	<!-- 게시물 삭제와 동시에 댓글 모두 삭제 -->
	<delete id="deleteByFreeId">
		DELETE
		FROM
			`free_comment`
		WHERE
			`freeId` = #{freeId }
	</delete>
</mapper>