#wrap {
	width:1200px;
	height:800px;
	margin:auto;
}

header{
	height:100px;
	background-color:skyblue;
}

footer{
	height:75px;
}

.sign-section{
	height:500px;
}

#non-member-login{
	color:gray;
}

.more-icon{
	font-size:18px;
}

.feed-content{
	height:auto;
}

.create-content{
	height:600px;
}

.non-resize {
	resize:none;		
}

nav{
	height:50px;
}

.nav > .nav-item > .nav-link {
    background-color:blue; 
    color:white; 
    font-size:15px;
    font-weight: bold;
}

.nav > .nav-item > a:hover {
    background-color:rgb(125,232,132);
}

.person-icon{
	font-size:100px;
}

.image-upload-icon{
	font-size:20px;
	color:black;
}

.detail-box{
	height:auto;
}