#wrap {
	width:1200px;
	height:800px;
	margin:auto;
}

header{
	height:100px;
	background-color:skyblue;
}

footer{
	height:75px;
}

.signin-section{
	height:400px;
}

.signup-section{
	height:500px;
}


#non-member-login{
	color:gray;
}